.header-container {
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    align-items: center;
    height: 70px;
    padding: 0 10px;

    &__search-area {
        display: flex;
        gap: 10px;
    }

    .ant-btn-submit {
        background-color: white;
    }

    .ant-btn-submit:hover {
        background-color: rgb(147, 164, 193);
        color: white;
    }
}